<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086774951822-i15lsuqo627e6t1nbp91ob5gppnrth5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086774951822-i15lsuqo627e6t1nbp91ob5gppnrth5j</string>
	<key>API_KEY</key>
	<string>AIzaSyA7g7CiVoDsJfoAD-yEzHTHySfAFrb-_1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1086774951822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stackrage.gofeds</string>
	<key>PROJECT_ID</key>
	<string>gofeds-8ddce</string>
	<key>STORAGE_BUCKET</key>
	<string>gofeds-8ddce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086774951822:ios:bb220e98d08f38beac2edf</string>
	<key>DATABASE_URL</key>
	<string>https://gofeds-8ddce.firebaseio.com</string>
</dict>
</plist>